@import "tailwindcss";

@keyframes scroll-slow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes scroll-fast {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll-slow {
  animation: scroll-slow 60s linear infinite;
}
.animate-scroll-fast {
  animation: scroll-fast 30s linear infinite;
}
